<app-header></app-header>
<div class="container-fluid body-content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Test Case Maintenance</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-sm-9 col-md-10 col-lg-10 mx-auto">
      <div class="card drop-shadow mt-5">
        <div class="card-body">
          <form (ngSubmit)="uploadtestsuite()">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6">
                <label for="application">Application Name</label>
                <div class="form-group">
                  <select class="form-control classic" (change)="updateScreensList()" name="application"
                    id="application" [(ngModel)]="appName">
                    <option value="" selected disabled>Choose Application</option>
                    <option value="{{app.name}}" *ngFor="let app of applicationList | async">{{app.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <label for="application">Screen Name</label>
                <div class="form-group">
                  <select class="form-control classic" name="screen" id="screen" [(ngModel)]="screenName"
                    (change)="downloadTestCaseFile()">
                    <option value="" selected disabled>Choose Screen</option>
                    <option value="{{screen}}" *ngFor="let screen of screenList">{{screen}}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <label for="testFile">File Upload</label>
                <div class="form-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" (change)="handleFileInput($event.target.files)"
                      name="testFile" id="testFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-2 justify-content-center">
                <button type="submit" (click)="uploadtestsuite()" class="btn btn-blue">Upload TestCase</button>
              </div>
              <div class="col-4"></div>
              <div class="col-2">
                <a [href]="url" [download]="fileName">Download TestCase</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>