<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <div class="form-group">
              <label for="inputEmail">User ID</label>
              <input type="email" id="inputEmail" name="inputEmail" class="form-control" formControlName="userName" autofocus>
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" id="inputPassword"  name="inputPassword" class="form-control" formControlName="password">
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" formControlName="rememberMe" id="rememberMe">
              <label class="custom-control-label" for="rememberMe">Remember password</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            <!-- <button class="btn btn-lg btn btn-block text-uppercase" type="submit" (click)="router.navigate(['/userSignUp']);">Sign Up</button> -->
            <div class="row justify-content-center">
                <p>new user? <a href="/userSignUp">create new account</a></p>
            </div>
            <!-- <button class="btn btn-lg btn btn-block text-uppercase" type="submit" (click)="router.navigate(['/userSignUp']);">Sign Up</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>