<app-header></app-header>
<div class="container body-content">
  <form (ngSubmit)="uploadtestsuite()">
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-2 col-sm-6"><label for="application">Application Name</label></div>
      <div class="col-lg-2 col-md-2 col-sm-6">
        <div class="form-group">
          <select class="form-control" name="application" id="application" [(ngModel)]="appName">
            <option *ngFor="let app of applicationList | async">Default select</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-2 col-sm-6"><label for="application">Screen Name</label></div>
      <div class="col-lg-2 col-md-2 col-sm-6">
        <div class="form-group">
          <select class="form-control" name="screen" id="screen" [(ngModel)]="screenName">
            <option *ngFor="let screen of screenList | async">Default select</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-2 col-sm-6"><label for="testFile">File Upload</label></div>
      <div class="col-lg-2 col-md-2 col-sm-6">
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" (change)="handleFileInput($event.target.files)" name="testFile"
              id="testFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row"></div>
    <div class="row justify-content-center">
      <div class="col-2">
        <button type="submit" (click)="uploadtestsuite()" class="btn btn-blue">Upload TestSuite</button>
      </div>
    </div>
  </form>
</div>