<app-header></app-header>
<div class="container-fluid body-content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Home</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-sm-9 col-md-10 col-lg-10 mx-auto">
      <div class="card drop-shadow mt-5">
        <div class="card-body">
          <form (ngSubmit)="runTest()">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-6">
                <label for="application">Application Name</label>
                <div class="form-group">
                  <select class="form-control classic" (change)="updateScreensList()" name="application"
                    id="application" [(ngModel)]="appName">
                    <option value="{{app.name}}" *ngFor="let app of applicationList | async">{{app.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6">
                <label for="application">Screen Name</label>
                <div class="form-group">
                  <select class="form-control classic" name="screen" id="screen" [(ngModel)]="screenName">
                    <option value="{{screen}}" *ngFor="let screen of screenList">{{screen}}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6"> 
                <div class="custom-control custom-checkbox checkbox-xl "> 
                  <div class="form-group">
                    <label for="checkbox">Fetch Data From Database</label>
                    <input type="checkbox" name="dataFromDBCheckbox" id="dataFromDBCheckbox"  [(ngModel)]="dataFromDBCheckbox" />                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-2">
                <button type="submit" (click)="runTest()" class="btn btn-blue">Start Testing</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>